services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.dev
    command: uvicorn main:app --host 0.0.0.0 --port 8000
    volumes:
      - ./core:/app
    ports:
      - "8000:8000"
    env_file:
      - ./env/.env.dev
    networks:
      - backend
  
  db:
    image: postgres:16
    restart: unless-stopped
    volumes:
      - pgdata:/var/lib/postgresql/
    env_file:
      - ./env/.env.dev
    networks:
      - backend

volumes:
  pgdata:

networks:
  backend: